@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Blinker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
.label,
p {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5em;
}

.menu-btn {
    font-family: 'Rubik', sans-serif;
    color: black;
    border-radius: 0;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-name {
    font-family: 'Blinker', sans-serif;
    color: black;
    font-size: 3.2em;
}

.menu-btn:hover {
    color: white;
    background-color: black;
    text-decoration: none;
    transition: 0.5s;
}

.photo-div {
    display: flex;
    height: 270px;
    width: auto;
    border-radius: 0;
    align-content: center;
}

.play-btn {
    width: 6.5em;
    color: lightblue;
    height: 6.5em;
    background-color: inherit;
    font-size: 2.4em;
    border-radius: 50%;
    border-width: 1px !important;
    border-style: solid;
    text-align: center;
    padding: 0;
    background-image: url(http://zaimfind.ru/themes/light/img/play-button.svg);
    background-size: cover;
}

.play-btn:hover {
    background-color: lightblue;
    text-decoration: none;
    color: black;
}

.regul-btn {
    font-family: 'Blinker', sans-serif;
    width: content;
    color: lightblue;
    height: content;
    background-color: inherit;
    font-size: 2.4em;
    border-radius: 0;
    border-width: 1px !important;
    border-style: solid;
    text-align: center;
    padding: 15px 30px;
}

footer {
    background: black;
}

.regul-btn:hover {
    background-color: lightblue;
    text-decoration: none;
    color: black;
}

.send-btn:hover {
    background-color: black;
    text-decoration: none;
    color: white;
}

#id_ajax_upload_form>div p label {
    margin-top: 5%;
    font-family: 'Rubik', sans-serif;
    color: black;
    font-size: 1.5em;
    padding: 15px 30px;
}

#id_photo {
    font-family: 'Rubik', sans-serif;
    width: content;
    color: black;
    height: content;
    background-color: inherit;
    font-size: 1.5em;
    text-align: center;
    padding: 15px 30px;
}

.send-btn {
    font-family: 'Rubik', sans-serif;
    width: content;
    color: black;
    height: content;
    background-color: inherit;
    font-size: 1.5em;
    border-radius: 0;
    border-width: 1px !important;
    border-style: solid;
    text-align: center;
    padding: 15px 30px;
}

#tryButton p {
    margin: 20px;
}

#slogan {
    font-family: 'Blinker', sans-serif;
    color: lightblue;
    margin-top: 5%;
    font-size: 2.7em;
    text-align: center;
    padding: 20px 0;
}

.shadowPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 100vw;
    height: 2730px;
    background: rgb(25, 27, 48);
    opacity: .90;
}

.youTubeVideo {
    position: absolute;
    top: 25vh;
    z-index: 3;
    width: 900px;
    height: 400px;
    opacity: 1;
}