{% extends "main/wrapper.html" %} {% load staticfiles %} {% block content %}{% if user.is_active %}
<div class="container text-center text-white shadow rounded bg-secondary">
    <h1>{% trans "Сhoose your case:" %}</h1>
</div>
<div class="container d-flex justfy-content-between align-items-center flex-wrap">
    <a href="#collapseExample1" class="btn btn-primary m-5 flex-fill" style="min-width:25%;" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Photo of your partner/potential partner</a>
    <a href="#collapseExample2" class="btn btn-primary m-5 flex-fill" style="min-width:25%;" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Your photo and photo of your partner</a>
    <a href="#collapseExample3" class="btn btn-primary m-5 flex-fill" style="min-width:25%;" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Your photo and photo of your potential partners (max 2)r</a>
    <div class="collapse" id="collapseExample1">
        <div class="card card-body bg-secondary" style="min-width:50vw;">
            <h2>{% trans "One photo. Cost: 3$" %}</h2>
            <div class="row">
                <label>{% trans "Upload one file:" %}</label>
                <input type="file" id="file" name="file" />
            </div>
            <div class="row">
                <span id="output"></span>
            </div>
        </div>
    </div>
    <div class="collapse" id="collapseExample2">
        <div class="card card-body bg-secondary" style="min-width:50vw;">
            <h2>{% trans "Two photos. Cost: 5.5$" %}</h2>
            <div class="col">
                <div class="row">
                    <label>{% trans "Upload your photo:" %}</label>
                    <input type="file" id="files_two_first" name="file" />
                </div>
                <div class="row">
                    <span id="output_ftf"></span>
                </div>
            </div>
        </div>
        <div class="card card-body bg-secondary" style="min-width:50vw;">
            <div class="col">
                <div class="row">
                    <label>{% trans "Upload partner photo:" %}</label>
                    <input type="file" id="files_two_second" name="file" />
                </div>
                <div class="row">
                    <span id="output_fts"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse" id="collapseExample3" style="min-width:50vw;">
        <div class="card card-body bg-secondary" style="min-width:50vw;">
            <h2>{% trans "Three photos. Cost: 7.25$" %}</h2>
            <div class="col">
                <div class="row">
                    <label>{% trans "Upload your photo:" %}</label>
                    <input type="file" id="files_three_first" name="file" />
                </div>
                <div class="row">
                    <span id="output_fthf"></span>
                </div>
            </div>
        </div>
        <div class="card card-body bg-secondary" style="min-width:50vw;">
            <div class="col">
                <div class="row">
                    <label>{% trans "Upload your photo:" %}</label>
                    <input type="file" id="files_three_second" name="file" />
                </div>
                <div class="row">
                    <span id="output_fths"></span>
                </div>
            </div>
        </div>
        <div class="card card-body bg-secondary" style="min-width:50vw;">
            <div class="col">
                <div class="row">
                    <label>{% trans "Upload your photo:" %}</label>
                    <input type="file" id="files_three_third" name="file" />
                </div>
                <div class="row">
                    <span id="output_ftht"></span>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container text-center text-white">
    <h1>Для данной функции необходимо войти в свой аккаунт или зарегестрироваться</h1>
    <a class="btn btn-primary" href="/accounts/login">Login</a>
    <a class="btn btn-primary" href="/accounts/signup">Sign Up</a>
</div>
{% endif %} {% endblock %}