{% extends "main/wrapper.html" %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
<div class="container">
        <div class="row">
            <div class="col mr-3">
                <img src="{% static 'main/image/pgv.jpg' %}" class="rounded float-left mr-3" height="260px" width="260px">
                <h3 style="color: white;">{% trans "Pecheritsa Georgiy Vitalyevich" %}</h3>
                <p style="color: white;">{% trans "Programmer." %}</p>
            </div>
            <div class="col">
                <img src="{% static 'main/image/mda.jpg' %}" class="rounded float-left mr-3" height="260px" width="260px">
                <h3 style="color: white;">{% trans "Murugov Dmitry Alexandrovich" %}</h3>
                <p style="color: white;">{% trans "Programmer." %}</p>
            </div>
        </div>
        <div class="row mt-5 pb-5" >
            <div class="col mr-3">
                <img src="{% static 'main/image/sas.jpg' %}" class="rounded float-left mr-3" height="260px" width="260px">
                <h3 style="color: white;">{% trans "Sevalnikov Alexey Sergeevich" %}</h3>
                <p style="color: white;">{% trans "Programmer." %}</p>
            </div>
            <div class="col">
                <img src="{% static 'main/image/rva.jpg' %}" class="rounded float-left mr-3" height="260px" width="260px">
                <h3 style="color: white;">{% trans "Romanchuk Vitaly Alexandrovich" %}</h3>
                <p style="color: white;">{% trans "Responsible for the backend." %}</p>
            </div>
        </div>
    </div>
{% endblock %}